body{
animation: fadein 0.5s;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

@font-face {
    font-family: 'robotolight';
    src: url('../roboto-light-webfont.woff2') format('woff2'),
         url('../roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'loraregular';
    src: url('../lora-regular-webfont.woff2') format('woff2'),
         url('../lora-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fredericka_the_greatregular';
    src: url('../frederickathegreat-regular-webfont.woff2') format('woff2'),
         url('../frederickathegreat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
font-family: "loraregular", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
	font-family: "fredericka_the_greatregular", Helvetica, Arial, sans-serif;
}

p {
text-align:justify;
}

.header {
position: fixed;
left: 0;
top: 0;
width: 100%;
color: #000000;
text-align: right;
font-size:14px;
}

#headerlink {
color: #000000;
text-decoration:none;
margin-right:20px;
font-size:15px;
}

#headerlink:hover {
text-decoration:underline;
}

.illustration {
width:560px;
margin:auto;
margin-top:75px;
margin-bottom:10px;
text-align:center;

}

.illustration img {
width:100%;
border-radius: 4px;
}

.illustration iframe {
border-radius: 4px;
}

.edit {
cursor:pointer;
text-align:center;
margin-top:25px;
padding-top:10px;
border-top:1px solid #FFFFFF;
}

.inputvideo {
width: 100%;
height:43px;
margin-bottom:10px;
margin-top:5px;
padding: 12px 20px;
box-sizing: border-box;
background-color: #f8f8f8;
border-radius: 4px;
border: 2px solid #ccc;
resize: none;
}

.inputtitre {
width: 100%;
height:43px;
margin-bottom:10px;
margin-top:5px;
padding: 12px 20px;
box-sizing: border-box;
background-color: #f8f8f8;
border-radius: 4px;
border: 2px solid #ccc;
resize: none;
}

.uploadillustration {
display:none;
}

.illustrationbouton {
border-radius: 6px;
border:2px #139ee0 solid ;
padding:10px;
}

.label-file {
cursor: pointer;
color: #139ee0;
font-weight: bold;
}

.floater {
width:560px;
margin-left:50px;
margin-right:50px;
float:left;
}

.floater:nth-child(odd){
clear:both;
}

.bubbledelete {
width:560px;
margin:auto;
text-align:center;
}

.bubble-text-warning {
position:relative;
background:#efd807;
color:#000000;
padding:14px 25px;
padding-bottom:10px;
border-radius:4px;
width:515px;
margin:auto;
transition: transform .5s;
text-align:center;
}

.inputtexte {
width: 560px;
height:300px;
margin-bottom:30px;
margin-top:10px;
padding: 12px 20px;
box-sizing: border-box;
background-color: #f8f8f8;
border-radius: 4px;
border: 2px solid #ccc;
}

.space {
height:10px;
}

.inputsubmit {
width: 560px;
margin-top:10px;
padding: 12px 20px;
background-color: forestgreen;
border-radius: 4px;
border: 0px solid #ccc;
color:#FFFFFF;
cursor:pointer;
}

.inputdelete {
width: 560px;
margin-top:10px;
margin-bottom:10px;
padding: 12px 20px;
background-color: red;
border-radius: 4px;
border: 0px solid #ccc;
color:#FFFFFF;
cursor:pointer;
}

.bubble-text {
position:relative;
background:#139ee0;
color:#fff;
padding:14px 25px;
padding-bottom:14px;
border-radius:4px;
width:510px;
margin:auto;
transition: transform .5s;
text-align:justify;
}

.bubble-text a {
text-decoration:underline;
}

.bubble-text a:link {
color:#FFFFFF;
}

.bubble-text a:visited {
color: #FFFFFF;
}

.bubble-text h2 {
margin-top:0px;
}

.textecoupe {
margin:0;
padding:0;
text-align:justify;
max-height:390px;
overflow:hidden;
}

.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: #FFFFFF;
color: #000000;
text-align: center;
box-shadow: 0 0 3px rgba(33,33,33,.2);
font-size:14px;
}

.footer p {
text-align: center;
}

#footerlink {
color: #3e53db;
text-decoration:none;
}

#footerlink:hover {
text-decoration:underline;
}
